.avatar,
.activiti {
  display: flex;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-switch.ant-switch-checked {
  background-color: #34c759 !important;
}

.ant-modal-content {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-modal .ant-modal-content {
  position: absolute;
  top: -79px;
  padding: 0;
  border-radius: 60px;
  overflow: hidden;
  background: #f9faf5;
  margin-left: 40px;
}
.ant-modal-close,
.ant-modal-footer {
  display: none;
}
.modal-head {
  height: 149px;
  background: #386641;
  h3 {
    color: #fff;
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-left: 55px;
  }
}
.avatar {
  gap: 46px;
  .dependent {
    margin-bottom: 52px;
    margin-left: 266px;
    span {
      cursor: pointer;
      border-radius: 20px;
      background: #fc1e1e;
      padding: 14px 43px;
      color: #fff;
      font-family: Noto Sans;
      font-size: 21px;
      font-weight: 400;
    }
  }
}
.name-avatar {
  h2 {
    color: #292d32;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 16px;
    border-radius: 60px;
    border: 1px solid #e6e5ea;
    padding: 6px 31px;
  }
}
.activiti {
  gap: 21px;
  span {
    color: #292d32;
    font-size: 20px;
    font-weight: 500;
  }
}
.modal-body {
  position: relative;
}
.avatar {
  position: absolute;
  top: -115px;
  left: 115px;
}
.avatar {
  align-items: flex-end;
}

.info-detail {
  color: #386641;
  font-family: Noto Sans;
  font-size: 36px;
  font-weight: 600;
  border-radius: 60px;
  background: #fff;
  padding: 30px;
  width: 1254px;
}
.modal-info {
  margin-top: 154px;
  padding: 0 49px;
}

.table-info-detail {
  tr {
    box-shadow: unset;
    .text {
      text-align: left;
      color: #000;
      font-family: Noto Sans;
      font-size: 22px;
      font-weight: 600;
    }
    .input-text {
      padding-left: 44px !important;
      padding: 10px;
    }
    .fix {
      padding: 25px 10px;
    }
  }
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-input {
  padding: 14px 24px;
  border-radius: 56px;
  border: 1px solid #e6e5ea;
  background: #fff;
  color: #000;
  font-family: Noto Sans;
  font-size: 22px;
  font-weight: 400;
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-radio-wrapper
  .ant-radio-checked
  .ant-radio-inner {
  border-color: #386641;
  background-color: #386641;
}
.gender {
  color: #000;
  font-family: Noto Sans;
  font-size: 22px;
  font-weight: 400;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  button {
    padding: 14px 64px;
    color: #fff;
    font-family: Noto Sans;
    font-size: 21px;
    font-weight: 400;
    border-radius: 20px;
    border: none;
  }
  .btn-cancel {
    background: #c5c5c5;
  }
  .btn-edit {
    background: #ff8f19;
  }
}
.ant-modal-body {
  background: #f9faf5;
  border-radius: 60px;
}
.ant-select-show-search:where(.css-dev-only-do-not-override-1vr7spz).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  padding: 14px 24px;
  border-radius: 56px;
  border: 1px solid #e6e5ea;
  background: #fff;
  color: #000;
  font-family: Noto Sans;
  font-size: 22px;
  font-weight: 400;
}
