@media (max-width: 739px) {
  :where(.css-dev-only-do-not-override-17a39f8).ant-row {
    display: unset;
  }
  .responsive-product {
    min-width: fit-content;
  }
  .col-title-product {
    min-width: 100%;
  }
  .menu-nav {
    display: none;
  }
  .icon-user {
    display: none;
  }
  .nav__bars-btn {
    display: block;
  }
  .menu-mobile {
    display: block;
  }
  .home-nav {
    align-items: center;
    display: flex;
  }
  .header-top {
    justify-content: space-between;
  }
  .icon-language {
    display: none;
  }
  .icon-language-res {
    display: block;
  }
  .icon-nav {
    margin-right: 15px;
  }
  .content_home-page {
    padding: 0 16px;
  }
  .item-category-page {
    width: 165px;
  }
  .topic-home {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .footer-header-page {
    flex-wrap: wrap;
    margin: 0 20px;
  }
  .footer-icon-page {
    width: 100%;
  }
  .icon-social {
    justify-content: center;
  }
  .footer-body-page {
    display: none;
  }
  .form-signin input {
    width: unset;
  }
  .category-item {
    padding-bottom: 10px;
  }
  .login-home {
    padding: 0 10px;
  }
  .login {
    display: unset;
  }
  .img-login {
    display: none;
  }
  .form-input-login {
    min-width: -webkit-fill-available;
  }
  .login-form-button {
    width: 100%;
  }
  .img-register {
    display: none;
  }
  .form-input-register {
    min-width: -webkit-fill-available;
  }
  .register-home {
    padding: 0 10px;
  }
  .ant-btn-primary {
    width: 100%;
  }
  //tin-tuc
  .news-home-page {
    padding: 0 15px;
  }
  .title-img {
    display: none;
  }
  .news-img-child,
  .news-img-child-all {
    min-width: -webkit-fill-available;
  }
  .all_list-cate {
    min-width: max-content;
    width: 1100px;
  }
  .cate-res {
    overflow-x: auto;
    width: 900px;
    padding-bottom: 5px;
  }
  .list-cate {
    margin-right: 10px;
  }
  .news-img-child-all {
    display: flex;
    gap: 10px;
  }
  .news-img-all {
    display: block;
  }
  .item-news-list {
    max-width: 300px;
  }
  .item-news-list {
    width: 359px;
  }
  .video-news-all {
    padding: 0 15px;
  }
  .video1 {
    width: 330px;
  }
  .video2 {
    width: 328px;
    height: 168px;
  }
  .video-item {
    padding: 0 15px;
  }
  .video-news-page {
    .container {
      img {
        padding: 0 15px;
      }
    }
  }
  //product
  .product-page,
  .list-item-product {
    padding: 0 15px;
  }
  .list-cate-product-all {
    min-width: none;
  }
  .compare-product {
    display: none;
  }
  .row-res,
  .row-comment {
    display: grid;
  }
  .rate-first,
  .comment-first {
    max-width: 100%;
  }
  .form-input {
    margin-bottom: 10px;
  }
  .list-cate-product {
    width: 700px;
  }
  .list-width-product {
    width: 500px;
    overflow-x: auto;
  }
  .filter-product {
    flex-flow: column-reverse;
  }
  .item-filter {
    min-width: fit-content;
  }
  //details product
  .details-product-page {
    padding: 0 15px;
  }
  .row-all-product {
    display: block;
  }

  .img-head-intro {
    img {
      min-width: -webkit-fill-available;
    }
  }
  .img-child-intro {
    gap: 53px;
  }
  .product-grid-res {
    width: 100%;
    overflow-x: auto;
  }
  .product-grid-all {
    width: 500px;
  }
  .title-product {
    h2 {
      padding-top: 20px;
    }
  }
  .img-child-intro {
    width: 800px;
  }
  .img-child-res,
  .img-child-intro {
    width: 100%;
    overflow-x: auto;
  }
  .ant-col {
    max-width: 75%;
  }
  .tick span {
    font-size: 11px;
  }
  .Row-btn {
    flex-flow: row;
    justify-content: center;
  }
  .item-information-product {
    width: 100%;
    overflow-x: auto;
  }
  .title-info-product {
    width: 700px;
    padding: 40px 0;
  }
  //gio-hang
  .cart-home-page {
    padding: 0 15px;
  }
  .Row-cart {
    justify-content: center;
  }

  .ant-radio-wrapper {
    margin: 10px 0;
  }
  .ant-radio-wrapper {
    width: 400px;
  }
  .form-signin {
    justify-content: center;
  }
  .title-info-buy {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
    a {
      margin: 0 auto;
    }
  }
  .order {
    width: 100%;
  }
  .btn-order {
    width: unset;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .menu-nav {
    display: none;
  }
  .icon-user {
    display: none;
  }
  .nav__bars-btn {
    display: block;
  }
  .menu-mobile {
    display: block;
  }
  .home-nav {
    align-items: center;
    display: flex;
  }
  .header-top {
    justify-content: space-between;
  }
  .icon-language {
    display: none;
  }
  .icon-language-res {
    display: block;
  }
  .icon-nav {
    margin-right: 15px;
  }
  .content_home-page {
    padding: 0 16px;
  }
  .item-category-page {
    width: 228px;
  }
  .topic-home {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .footer-header-page {
    flex-wrap: wrap;
    margin: 0 20px;
  }
  .des-footer {
    min-width: fit-content;
  }
  .footer-info-page {
    width: 25%;
  }
  .footer-icon-page {
    width: 100%;
  }
  .icon-social {
    justify-content: center;
  }
  .footer-body-page {
    display: none;
  }
  .nav-mobile-input {
    display: block;
  }
  .menu-list-mobile {
    display: block;
  }
  .category-item {
    padding-bottom: 10px;
  }
  .login-home {
    padding: 0 10px;
  }
  .login {
    display: unset;
  }
  .img-login {
    display: none;
  }
  .form-input-login {
    min-width: -webkit-fill-available;
  }
  .login-form-button {
    width: 100%;
  }
  .img-register {
    display: none;
  }
  .form-input-register {
    min-width: -webkit-fill-available;
  }
  .register-home {
    padding: 0 10px;
  }
  .ant-btn-primary {
    width: 100%;
  }
  //tin-tuc
  .news-home-page {
    padding: 0 15px;
  }
  .title-img {
    display: none;
  }
  .news-img-child,
  .news-img-child-all {
    min-width: -webkit-fill-available;
  }
  .all_list-cate {
    min-width: max-content;
    width: 1100px;
  }
  .cate-res {
    overflow-x: auto;
    width: 900px;
    padding-bottom: 5px;
  }
  .list-cate {
    margin-right: 10px;
  }
  .news-img-child-all {
    display: flex;
    gap: 10px;
  }
  .news-img-all {
    display: block;
  }
  .item-news-list {
    max-width: 300px;
  }
  .item-news-list {
    width: 359px;
  }
  .video-news-all {
    padding: 0 15px;
  }
  .video1 {
    width: 470px;
  }
  .video2 {
    width: 200px;
    height: 160px;
  }
  //product
  .product-page,
  .list-item-product {
    padding: 0 15px;
  }
  .list-cate-product-all {
    min-width: none;
  }
  .compare-product {
    display: none;
  }
  .row-res,
  .row-comment {
    display: grid;
  }
  .rate-first,
  .comment-first {
    max-width: 100%;
  }
  .form-input {
    margin-bottom: 10px;
  }

  //details product
  .details-product-page {
    padding: 0 15px;
  }
  .row-all-product {
    display: block;
  }
  .responsive-product,
  .col-title-product {
    max-width: 100%;
  }
  .img-head-intro {
    img {
      min-width: -webkit-fill-available;
    }
  }
  .img-child-intro {
    gap: 53px;
  }
  .product-grid {
    width: 700px;
    overflow-x: auto;
  }
  .product-grid-all {
    width: 859px;
  }
  .title-product {
    h2 {
      padding-top: 20px;
    }
  }
  //gio-hang
  .cart-home-page {
    padding: 0 15px;
  }
  .Row-cart {
    display: table-row-group;
  }
  .Col17-res,
  .Col-order {
    min-width: fit-content;
    max-width: 100%;
  }
  .ant-radio-wrapper {
    margin: 10px 0;
  }
  .ant-radio-wrapper {
    width: 400px;
  }
  .form-signin {
    justify-content: center;
  }
}
