USE [master]
GO
/****** Object:  Database [SEP-G4-CCMS]    Script Date: 10/24/2023 12:59:54 AM ******/
CREATE DATABASE [SEP-G4-CCMS]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEP-G4-CCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEP-G4-CCMS]
GO
/****** Object:  Table [dbo].[CheckInOut]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckInOut](
	[CheckInOutId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[TimeCheckIn] [time](7) NULL,
	[TimeCheckOut] [time](7) NULL,
	[Note] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_CheckInOut] PRIMARY KEY CLUSTERED 
(
	[CheckInOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[LinkDoc] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[ContractTypeID] [int] NULL,
	[ContractCode] [nvarchar](20) NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractsStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractType]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractType](
	[ContractTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ContractName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractTypeStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractTypeStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ContractTypeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](20) NULL,
	[CountryName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degrees]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degrees](
	[DegreeID] [int] IDENTITY(1,1) NOT NULL,
	[DegreeName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DegreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DegreesStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DegreesStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DegreeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](20) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentsStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dependents]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependents](
	[DependentID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[FullName] [nvarchar](20) NULL,
	[IdentifierCode] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[Relationship] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IdentifierName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[NoteReason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DependentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DependentsStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DependentsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DependentID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDegrees]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDegrees](
	[DegreeID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[GraduateDate] [datetime] NULL,
	[Major] [nvarchar](100) NULL,
	[School] [nvarchar](100) NULL,
	[LinkDoc] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DegreeID] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[DOB] [datetime] NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[TaxID] [int] NULL,
	[Email] [varchar](max) NULL,
	[CountryID] [int] NULL,
	[Status] [bit] NULL,
	[CIC] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTeams]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTeams](
	[EmployeeTeamID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_EmployeeTeams_1] PRIMARY KEY CLUSTERED 
(
	[EmployeeTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryChangeCheckInOut]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChangeCheckInOut](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[CheckInOutId] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_HistoryChangeTimeTracking] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryChangeShiftType]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChangeShiftType](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
	[ShiftTypeID] [int] NULL,
 CONSTRAINT [PK_HistoryChangeShiftType] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryChangeTeams]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChangeTeams](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_HistoryChangeTeams] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_PageStatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePages]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePages](
	[PageID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_RolePages] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesEmployees]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesEmployees](
	[RoleEmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[RoleID] [int] NULL,
	[DepartmentID] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleEmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftType]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftType](
	[ShiftTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
 CONSTRAINT [PK_ShiftType] PRIMARY KEY CLUSTERED 
(
	[ShiftTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](100) NULL,
	[WorkAreaId] [int] NULL,
	[TeamLeaderId] [int] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamWork]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamWork](
	[TeamID] [int] NOT NULL,
	[WorkId] [int] NOT NULL,
 CONSTRAINT [PK_TeamWork] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC,
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitCost]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitCost](
	[UniCostId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](100) NULL,
	[Cost] [float] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_UnitCost] PRIMARY KEY CLUSTERED 
(
	[UniCostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitCostStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitCostStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UniCostId] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [nchar](10) NULL,
 CONSTRAINT [PK_UnitCostStatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[EmployeeID] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccountsStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccountsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work](
	[WorkId] [int] IDENTITY(1,1) NOT NULL,
	[WorkName] [nvarchar](100) NULL,
	[ProductPackage] [int] NULL,
	[UniCostId] [int] NULL,
	[Date] [datetime] NULL,
	[WorkAreaId] [int] NULL,
 CONSTRAINT [PK_Work] PRIMARY KEY CLUSTERED 
(
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkAreas]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkAreas](
	[WorkAreaId] [int] IDENTITY(1,1) NOT NULL,
	[WorkAreaName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_WorkAreas] PRIMARY KEY CLUSTERED 
(
	[WorkAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[WorkScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftTypeID] [int] NULL,
	[TeamID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_WorkSchedule] PRIMARY KEY CLUSTERED 
(
	[WorkScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkScheduleStatusHistory]    Script Date: 10/24/2023 12:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkScheduleStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[WorkScheduleID] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_WorkScheduleStatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [StartDate], [EndDate], [LinkDoc], [Status], [ContractTypeID], [ContractCode], [Image]) VALUES (1, 1, CAST(N'2020-01-01' AS Date), CAST(N'2023-01-01' AS Date), N'https://drive.google.com/file123', 0, NULL, NULL, NULL)
INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [StartDate], [EndDate], [LinkDoc], [Status], [ContractTypeID], [ContractCode], [Image]) VALUES (2, 2, CAST(N'2021-04-15' AS Date), CAST(N'2024-04-15' AS Date), N'https://drive.google.com/file456', NULL, NULL, NULL, NULL)
INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [StartDate], [EndDate], [LinkDoc], [Status], [ContractTypeID], [ContractCode], [Image]) VALUES (3, 3, CAST(N'2022-07-01' AS Date), CAST(N'2025-07-01' AS Date), N'https://drive.google.com/file789', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractType] ON 

INSERT [dbo].[ContractType] ([ContractTypeID], [ContractName], [Status]) VALUES (1, N'Hợp đồng làm việc', 1)
SET IDENTITY_INSERT [dbo].[ContractType] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryCode], [CountryName]) VALUES (1, N'VN', N'Việt Nam')
INSERT [dbo].[Countries] ([CountryID], [CountryCode], [CountryName]) VALUES (2, N'US', N'Hoa Kỳ')
INSERT [dbo].[Countries] ([CountryID], [CountryCode], [CountryName]) VALUES (3, N'JP', N'Nhật Bản')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Degrees] ON 

INSERT [dbo].[Degrees] ([DegreeID], [DegreeName], [Status]) VALUES (1, N'Cử nhân', NULL)
INSERT [dbo].[Degrees] ([DegreeID], [DegreeName], [Status]) VALUES (2, N'Cử nhân', NULL)
INSERT [dbo].[Degrees] ([DegreeID], [DegreeName], [Status]) VALUES (3, N'Thạc sĩ', NULL)
SET IDENTITY_INSERT [dbo].[Degrees] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Status]) VALUES (1, N'Phòng Kế toán', 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Status]) VALUES (2, N'Phòng Nhân sự', 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Status]) VALUES (3, N'Phòng Kỹ thuật', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Dependents] ON 

INSERT [dbo].[Dependents] ([DependentID], [EmployeeID], [FullName], [IdentifierCode], [Gender], [Relationship], [DOB], [StartDate], [EndDate], [IdentifierName], [Status], [NoteReason]) VALUES (1, 1, N'Nguyễn Thu Hà', N'123456789', 0, N'Con gái', CAST(N'2017-02-14' AS Date), CAST(N'2017-02-14' AS Date), NULL, N'Chứng minh nhân dân', NULL, NULL)
INSERT [dbo].[Dependents] ([DependentID], [EmployeeID], [FullName], [IdentifierCode], [Gender], [Relationship], [DOB], [StartDate], [EndDate], [IdentifierName], [Status], [NoteReason]) VALUES (2, 2, N'Lê Văn Toàn', N'234567891', 1, N'Con trai', CAST(N'2019-03-20' AS Date), CAST(N'2019-03-20' AS Date), NULL, N'Chứng minh nhân dân', NULL, NULL)
INSERT [dbo].[Dependents] ([DependentID], [EmployeeID], [FullName], [IdentifierCode], [Gender], [Relationship], [DOB], [StartDate], [EndDate], [IdentifierName], [Status], [NoteReason]) VALUES (3, 3, N'Trần Thị Hoa', N'345678912', 0, N'Con gái', CAST(N'2016-05-30' AS Date), CAST(N'2016-05-30' AS Date), NULL, N'Chứng minh nhân dân', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Dependents] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Image], [FirstName], [LastName], [DOB], [Gender], [Address], [PhoneNumber], [TaxID], [Email], [CountryID], [Status], [CIC]) VALUES (1, NULL, N'Nguyễn Văn', N'An', CAST(N'1990-03-04T00:00:00.000' AS DateTime), 1, N'Hà Nội', N'0123456789', 123456789, N'annv@gmail.com', 1, 1, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [Image], [FirstName], [LastName], [DOB], [Gender], [Address], [PhoneNumber], [TaxID], [Email], [CountryID], [Status], [CIC]) VALUES (2, NULL, N'Lê Thị', N'Lan', CAST(N'1992-05-12T00:00:00.000' AS DateTime), 0, N'Hải Phòng', N'0987654321', 987654321, N'lanlt@gmail.com', 1, 1, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [Image], [FirstName], [LastName], [DOB], [Gender], [Address], [PhoneNumber], [TaxID], [Email], [CountryID], [Status], [CIC]) VALUES (3, NULL, N'Trần Thị', N'Mai', CAST(N'1995-07-08T00:00:00.000' AS DateTime), 0, N'TP Hồ Chí Minh', N'0246810121', 246810121, N'maitt@gmail.com', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeTeams] ON 

INSERT [dbo].[EmployeeTeams] ([EmployeeTeamID], [EmployeeId], [TeamID], [StartDate], [EndDate]) VALUES (1, 1, 1, CAST(N'2012-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[EmployeeTeams] ([EmployeeTeamID], [EmployeeId], [TeamID], [StartDate], [EndDate]) VALUES (2, 2, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2029-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[EmployeeTeams] ([EmployeeTeamID], [EmployeeId], [TeamID], [StartDate], [EndDate]) VALUES (4, 3, 1, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2030-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[EmployeeTeams] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryChangeTeams] ON 

INSERT [dbo].[HistoryChangeTeams] ([HistoryID], [TeamID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (1, 1, N'Create', CAST(N'2023-10-22T17:59:14.513' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HistoryChangeTeams] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([PageID], [PageName], [Status]) VALUES (1, N'Home', 1)
INSERT [dbo].[Pages] ([PageID], [PageName], [Status]) VALUES (2, N'trang thong ke', 1)
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
INSERT [dbo].[RolePages] ([PageID], [RoleID]) VALUES (1, 2)
INSERT [dbo].[RolePages] ([PageID], [RoleID]) VALUES (1, 3)
INSERT [dbo].[RolePages] ([PageID], [RoleID]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status]) VALUES (1, N'Nhân viên', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status]) VALUES (2, N'Quản lý', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status]) VALUES (3, N'Giám đốc', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesEmployees] ON 

INSERT [dbo].[RolesEmployees] ([RoleEmployeeID], [EmployeeID], [RoleID], [DepartmentID], [StartDate], [EndDate], [Status]) VALUES (1, 1, 6, 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[RolesEmployees] ([RoleEmployeeID], [EmployeeID], [RoleID], [DepartmentID], [StartDate], [EndDate], [Status]) VALUES (2, 2, 7, 2, CAST(N'2021-04-15T00:00:00.000' AS DateTime), CAST(N'2024-04-15T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[RolesEmployees] ([RoleEmployeeID], [EmployeeID], [RoleID], [DepartmentID], [StartDate], [EndDate], [Status]) VALUES (3, 3, 1, 3, CAST(N'2022-07-01T00:00:00.000' AS DateTime), CAST(N'2025-07-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RolesEmployees] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([TeamID], [TeamName], [WorkAreaId], [TeamLeaderId], [Note]) VALUES (1, N'Gỗ ép', 1, 1, N'string')
INSERT [dbo].[Teams] ([TeamID], [TeamName], [WorkAreaId], [TeamLeaderId], [Note]) VALUES (2, N'Gỗ ván', 1, 2, N'string')
INSERT [dbo].[Teams] ([TeamID], [TeamName], [WorkAreaId], [TeamLeaderId], [Note]) VALUES (3, N'Gỗ nén', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitCost] ON 

INSERT [dbo].[UnitCost] ([UniCostId], [UnitName], [Cost], [Status]) VALUES (1, N'Giá gỗ ép', 100, 1)
SET IDENTITY_INSERT [dbo].[UnitCost] OFF
GO
INSERT [dbo].[UserAccounts] ([EmployeeID], [UserName], [Password], [Status]) VALUES (1, N'annv', N'123456', 1)
INSERT [dbo].[UserAccounts] ([EmployeeID], [UserName], [Password], [Status]) VALUES (2, N'lanlt', N'123456', 1)
INSERT [dbo].[UserAccounts] ([EmployeeID], [UserName], [Password], [Status]) VALUES (3, N'maitt', N'123456', 1)
GO
SET IDENTITY_INSERT [dbo].[Work] ON 

INSERT [dbo].[Work] ([WorkId], [WorkName], [ProductPackage], [UniCostId], [Date], [WorkAreaId]) VALUES (2, N'Làm gỗ ép', 10, 1, CAST(N'2012-01-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Work] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkAreas] ON 

INSERT [dbo].[WorkAreas] ([WorkAreaId], [WorkAreaName], [Status]) VALUES (1, N'Phân Khu A', 1)
SET IDENTITY_INSERT [dbo].[WorkAreas] OFF
GO
ALTER TABLE [dbo].[CheckInOut]  WITH CHECK ADD  CONSTRAINT [FK_CheckInOut_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[CheckInOut] CHECK CONSTRAINT [FK_CheckInOut_Employees]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_ContractType] FOREIGN KEY([ContractTypeID])
REFERENCES [dbo].[ContractType] ([ContractTypeID])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_ContractType]
GO
ALTER TABLE [dbo].[ContractsStatusHistory]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ContractID])
GO
ALTER TABLE [dbo].[ContractTypeStatusHistory]  WITH CHECK ADD FOREIGN KEY([ContractTypeID])
REFERENCES [dbo].[ContractType] ([ContractTypeID])
GO
ALTER TABLE [dbo].[DegreesStatusHistory]  WITH CHECK ADD FOREIGN KEY([DegreeID])
REFERENCES [dbo].[Degrees] ([DegreeID])
GO
ALTER TABLE [dbo].[DepartmentsStatusHistory]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Dependents]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[DependentsStatusHistory]  WITH CHECK ADD FOREIGN KEY([DependentID])
REFERENCES [dbo].[Dependents] ([DependentID])
GO
ALTER TABLE [dbo].[EmployeeDegrees]  WITH CHECK ADD FOREIGN KEY([DegreeID])
REFERENCES [dbo].[Degrees] ([DegreeID])
GO
ALTER TABLE [dbo].[EmployeeDegrees]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[EmployeesStatusHistory]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeTeams]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTeams_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeTeams] CHECK CONSTRAINT [FK_EmployeeTeams_Employees]
GO
ALTER TABLE [dbo].[EmployeeTeams]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTeams_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[EmployeeTeams] CHECK CONSTRAINT [FK_EmployeeTeams_Teams]
GO
ALTER TABLE [dbo].[HistoryChangeCheckInOut]  WITH CHECK ADD  CONSTRAINT [FK_HistoryChangeTimeTracking_CheckInOut] FOREIGN KEY([CheckInOutId])
REFERENCES [dbo].[CheckInOut] ([CheckInOutId])
GO
ALTER TABLE [dbo].[HistoryChangeCheckInOut] CHECK CONSTRAINT [FK_HistoryChangeTimeTracking_CheckInOut]
GO
ALTER TABLE [dbo].[HistoryChangeShiftType]  WITH CHECK ADD  CONSTRAINT [FK_HistoryChangeShiftType_ShiftType] FOREIGN KEY([ShiftTypeID])
REFERENCES [dbo].[ShiftType] ([ShiftTypeID])
GO
ALTER TABLE [dbo].[HistoryChangeShiftType] CHECK CONSTRAINT [FK_HistoryChangeShiftType_ShiftType]
GO
ALTER TABLE [dbo].[HistoryChangeTeams]  WITH CHECK ADD  CONSTRAINT [FK_HistoryChangeTeams_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[HistoryChangeTeams] CHECK CONSTRAINT [FK_HistoryChangeTeams_Teams]
GO
ALTER TABLE [dbo].[PageStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_PageStatusHistory_Pages] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([PageID])
GO
ALTER TABLE [dbo].[PageStatusHistory] CHECK CONSTRAINT [FK_PageStatusHistory_Pages]
GO
ALTER TABLE [dbo].[RolePages]  WITH CHECK ADD  CONSTRAINT [FK_RolePages_Pages] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([PageID])
GO
ALTER TABLE [dbo].[RolePages] CHECK CONSTRAINT [FK_RolePages_Pages]
GO
ALTER TABLE [dbo].[RolePages]  WITH CHECK ADD  CONSTRAINT [FK_RolePages_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RolePages] CHECK CONSTRAINT [FK_RolePages_Roles]
GO
ALTER TABLE [dbo].[RolesEmployees]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[RolesEmployees]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RolesEmployees]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RolesStatusHistory]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[TeamWork]  WITH CHECK ADD  CONSTRAINT [FK_TeamWork_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[TeamWork] CHECK CONSTRAINT [FK_TeamWork_Teams]
GO
ALTER TABLE [dbo].[TeamWork]  WITH CHECK ADD  CONSTRAINT [FK_TeamWork_Work] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Work] ([WorkId])
GO
ALTER TABLE [dbo].[TeamWork] CHECK CONSTRAINT [FK_TeamWork_Work]
GO
ALTER TABLE [dbo].[UnitCostStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_UnitCostStatusHistory_UnitCost] FOREIGN KEY([UniCostId])
REFERENCES [dbo].[UnitCost] ([UniCostId])
GO
ALTER TABLE [dbo].[UnitCostStatusHistory] CHECK CONSTRAINT [FK_UnitCostStatusHistory_UnitCost]
GO
ALTER TABLE [dbo].[UserAccounts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[UserAccountsStatusHistory]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[UserAccounts] ([EmployeeID])
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_UnitCost] FOREIGN KEY([UniCostId])
REFERENCES [dbo].[UnitCost] ([UniCostId])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_UnitCost]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_WorkAreas] FOREIGN KEY([WorkAreaId])
REFERENCES [dbo].[WorkAreas] ([WorkAreaId])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_WorkAreas]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_ShiftType] FOREIGN KEY([ShiftTypeID])
REFERENCES [dbo].[ShiftType] ([ShiftTypeID])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_ShiftType]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Teams]
GO
ALTER TABLE [dbo].[WorkScheduleStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_WorkScheduleStatusHistory_WorkSchedule] FOREIGN KEY([WorkScheduleID])
REFERENCES [dbo].[WorkSchedule] ([WorkScheduleID])
GO
ALTER TABLE [dbo].[WorkScheduleStatusHistory] CHECK CONSTRAINT [FK_WorkScheduleStatusHistory_WorkSchedule]
GO
USE [master]
GO
