USE [master]
GO
/****** Object:  Database [SEP-G4-CCMS]    Script Date: 11/2/2023 6:00:37 PM ******/
CREATE DATABASE [SEP-G4-CCMS]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEP-G4-CCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEP-G4-CCMS]
GO
USE [SEP-G4-CCMS]
GO
/****** Object:  Table [dbo].[CheckInOut]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckInOut](
	[CheckInOutId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[TimeCheckIn] [time](7) NULL,
	[TimeCheckOut] [time](7) NULL,
	[Note] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_CheckInOut] PRIMARY KEY CLUSTERED 
(
	[CheckInOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[LinkDoc] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[ContractTypeID] [int] NULL,
	[ContractCode] [nvarchar](20) NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractsStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractType]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractType](
	[ContractTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ContractName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractTypeStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractTypeStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ContractTypeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](20) NULL,
	[CountryName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degrees]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degrees](
	[DegreeID] [int] IDENTITY(1,1) NOT NULL,
	[DegreeName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DegreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DegreesStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DegreesStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DegreeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](20) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentsStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dependents]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependents](
	[DependentID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[FullName] [nvarchar](20) NULL,
	[IdentifierCode] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[Relationship] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IdentifierName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[NoteReason] [nvarchar](max) NULL,
	[TypeDependentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DependentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DependentsStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DependentsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DependentID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDegrees]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDegrees](
	[DegreeID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[GraduateDate] [datetime] NULL,
	[Major] [nvarchar](100) NULL,
	[School] [nvarchar](100) NULL,
	[LinkDoc] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DegreeID] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[DOB] [datetime] NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[TaxID] [int] NULL,
	[Email] [varchar](max) NULL,
	[CountryID] [int] NULL,
	[Status] [bit] NULL,
	[CIC] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTeams]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTeams](
	[EmployeeTeamID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_EmployeeTeams_1] PRIMARY KEY CLUSTERED 
(
	[EmployeeTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryChangeCheckInOut]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChangeCheckInOut](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[CheckInOutId] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_HistoryChangeTimeTracking] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryChangeShiftType]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChangeShiftType](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
	[ShiftTypeID] [int] NULL,
 CONSTRAINT [PK_HistoryChangeShiftType] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryChangeTeams]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChangeTeams](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_HistoryChangeTeams] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoursWorkDays]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoursWorkDays](
	[HourWorkDayId] [int] IDENTITY(1,1) NOT NULL,
	[Hour] [float] NULL,
	[Day] [datetime] NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_HoursWorkDays] PRIMARY KEY CLUSTERED 
(
	[HourWorkDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[PageNameVN] [nvarchar](max) NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_PageStatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePages]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePages](
	[PageID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_RolePages] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleLevel] [int] NULL,
	[RoleName] [nvarchar](20) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Roles__8AFACE3A51C02BEC] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesEmployees]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesEmployees](
	[RoleEmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[RoleID] [int] NULL,
	[DepartmentID] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleEmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[SalaryName] [float] NULL,
	[SalaryDetailId] [int] NULL,
	[AmountOfMoney] [float] NULL,
	[EmloyeeId] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryDetail]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryDetail](
	[SalaryDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[SalaryITyped] [int] NULL,
 CONSTRAINT [PK_SalaryDetail] PRIMARY KEY CLUSTERED 
(
	[SalaryDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryType]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryType](
	[SalaryITyped] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_SalaryType] PRIMARY KEY CLUSTERED 
(
	[SalaryITyped] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftType]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftType](
	[ShiftTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
 CONSTRAINT [PK_ShiftType] PRIMARY KEY CLUSTERED 
(
	[ShiftTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](100) NULL,
	[TeamLeaderId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[TeamSubLeaderID] [int] NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamWork]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamWork](
	[TeamID] [int] NOT NULL,
	[WorkId] [int] NOT NULL,
 CONSTRAINT [PK_TeamWork] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC,
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeDependents]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeDependents](
	[TypeDependentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeDependents] PRIMARY KEY CLUSTERED 
(
	[TypeDependentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitCost]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitCost](
	[UniCostId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](100) NULL,
	[Cost] [float] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_UnitCost] PRIMARY KEY CLUSTERED 
(
	[UniCostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitCostStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitCostStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UniCostId] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [nchar](10) NULL,
 CONSTRAINT [PK_UnitCostStatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[EmployeeID] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccountsStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccountsStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Action] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work](
	[WorkId] [int] IDENTITY(1,1) NOT NULL,
	[WorkName] [nvarchar](100) NULL,
	[ProductPackage] [int] NULL,
	[UniCostId] [int] NULL,
	[Date] [datetime] NULL,
	[WorkAreaId] [int] NULL,
 CONSTRAINT [PK_Work] PRIMARY KEY CLUSTERED 
(
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkAreas]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkAreas](
	[WorkAreaId] [int] IDENTITY(1,1) NOT NULL,
	[WorkAreaName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_WorkAreas] PRIMARY KEY CLUSTERED 
(
	[WorkAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[WorkScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftTypeID] [int] NULL,
	[TeamID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_WorkSchedule] PRIMARY KEY CLUSTERED 
(
	[WorkScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkScheduleStatusHistory]    Script Date: 11/2/2023 6:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkScheduleStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[WorkScheduleID] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[ActionDate] [datetime] NULL,
	[CurrentEmployeeID] [int] NULL,
 CONSTRAINT [PK_WorkScheduleStatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CheckInOut] ON 

INSERT [dbo].[CheckInOut] ([CheckInOutId], [EmployeeID], [TimeCheckIn], [TimeCheckOut], [Note], [Date]) VALUES (50, 1, CAST(N'00:52:06.1850759' AS Time), CAST(N'01:01:29.6290844' AS Time), NULL, CAST(N'2023-11-02T00:00:00.000' AS DateTime))
INSERT [dbo].[CheckInOut] ([CheckInOutId], [EmployeeID], [TimeCheckIn], [TimeCheckOut], [Note], [Date]) VALUES (51, 3, CAST(N'01:01:16.5353092' AS Time), CAST(N'01:01:39.2236763' AS Time), NULL, CAST(N'2023-11-02T00:00:00.000' AS DateTime))
INSERT [dbo].[CheckInOut] ([CheckInOutId], [EmployeeID], [TimeCheckIn], [TimeCheckOut], [Note], [Date]) VALUES (54, 2, CAST(N'01:07:16.5371180' AS Time), CAST(N'01:07:42.9574494' AS Time), NULL, CAST(N'2023-11-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CheckInOut] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [StartDate], [EndDate], [LinkDoc], [Status], [ContractTypeID], [ContractCode], [Image]) VALUES (1, 1, CAST(N'2020-01-01' AS Date), CAST(N'2023-01-01' AS Date), N'https://drive.google.com/file123', 1, NULL, NULL, NULL)
INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [StartDate], [EndDate], [LinkDoc], [Status], [ContractTypeID], [ContractCode], [Image]) VALUES (2, 2, CAST(N'2021-04-15' AS Date), CAST(N'2024-04-15' AS Date), N'https://drive.google.com/file456', 1, NULL, NULL, NULL)
INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [StartDate], [EndDate], [LinkDoc], [Status], [ContractTypeID], [ContractCode], [Image]) VALUES (3, 3, CAST(N'2022-07-01' AS Date), CAST(N'2025-07-01' AS Date), N'https://drive.google.com/file789', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractsStatusHistory] ON 

INSERT [dbo].[ContractsStatusHistory] ([HistoryID], [ContractID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (1, 1, N'Change Status', CAST(N'2023-11-01T23:46:13.720' AS DateTime), NULL)
INSERT [dbo].[ContractsStatusHistory] ([HistoryID], [ContractID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (2, 1, N'Change Status', CAST(N'2023-11-01T23:50:42.763' AS DateTime), NULL)
INSERT [dbo].[ContractsStatusHistory] ([HistoryID], [ContractID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (3, 1, N'Change Status', CAST(N'2023-11-01T23:51:17.157' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ContractsStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractType] ON 

INSERT [dbo].[ContractType] ([ContractTypeID], [ContractName], [Status]) VALUES (1, N'Hợp đồng làm việc', 1)
SET IDENTITY_INSERT [dbo].[ContractType] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryCode], [CountryName]) VALUES (1, N'VN', N'Việt Nam')
INSERT [dbo].[Countries] ([CountryID], [CountryCode], [CountryName]) VALUES (2, N'US', N'Hoa Kỳ')
INSERT [dbo].[Countries] ([CountryID], [CountryCode], [CountryName]) VALUES (3, N'JP', N'Nhật Bản')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Degrees] ON 

INSERT [dbo].[Degrees] ([DegreeID], [DegreeName], [Status]) VALUES (1, N'Cử nhân', NULL)
INSERT [dbo].[Degrees] ([DegreeID], [DegreeName], [Status]) VALUES (2, N'Cử nhân', NULL)
INSERT [dbo].[Degrees] ([DegreeID], [DegreeName], [Status]) VALUES (3, N'Thạc sĩ', NULL)
SET IDENTITY_INSERT [dbo].[Degrees] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Status]) VALUES (1, N'Phòng Kế toán', 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Status]) VALUES (2, N'Phòng Nhân sự', 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Status]) VALUES (3, N'Phòng Kỹ thuật', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentsStatusHistory] ON 

INSERT [dbo].[DepartmentsStatusHistory] ([HistoryID], [DepartmentID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (1, 6, N'Insert', CAST(N'2023-10-28T09:22:17.307' AS DateTime), 1)
INSERT [dbo].[DepartmentsStatusHistory] ([HistoryID], [DepartmentID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (2, 7, N'Insert', CAST(N'2023-10-28T09:30:49.563' AS DateTime), 1)
INSERT [dbo].[DepartmentsStatusHistory] ([HistoryID], [DepartmentID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (3, 7, N'Update', CAST(N'2023-10-28T09:35:40.800' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DepartmentsStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Dependents] ON 

INSERT [dbo].[Dependents] ([DependentID], [EmployeeID], [FullName], [IdentifierCode], [Gender], [Relationship], [DOB], [StartDate], [EndDate], [IdentifierName], [Status], [NoteReason], [TypeDependentID]) VALUES (1, 1, N'Nguyễn Thu Hà', N'123456789', 0, N'Con gái', CAST(N'2017-02-14' AS Date), CAST(N'2017-02-14' AS Date), NULL, N'Chứng minh nhân dân', NULL, NULL, NULL)
INSERT [dbo].[Dependents] ([DependentID], [EmployeeID], [FullName], [IdentifierCode], [Gender], [Relationship], [DOB], [StartDate], [EndDate], [IdentifierName], [Status], [NoteReason], [TypeDependentID]) VALUES (2, 2, N'Lê Văn Toàn', N'234567891', 1, N'Con trai', CAST(N'2019-03-20' AS Date), CAST(N'2019-03-20' AS Date), NULL, N'Chứng minh nhân dân', NULL, NULL, NULL)
INSERT [dbo].[Dependents] ([DependentID], [EmployeeID], [FullName], [IdentifierCode], [Gender], [Relationship], [DOB], [StartDate], [EndDate], [IdentifierName], [Status], [NoteReason], [TypeDependentID]) VALUES (3, 3, N'Trần Thị Hoa', N'345678912', 0, N'Con gái', CAST(N'2016-05-30' AS Date), CAST(N'2016-05-30' AS Date), NULL, N'Chứng minh nhân dân', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Dependents] OFF
GO
SET IDENTITY_INSERT [dbo].[DependentsStatusHistory] ON 

INSERT [dbo].[DependentsStatusHistory] ([HistoryID], [DependentID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (1, 6, N'Insert', CAST(N'2023-10-28T13:57:13.687' AS DateTime), 1)
INSERT [dbo].[DependentsStatusHistory] ([HistoryID], [DependentID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (2, 7, N'Insert', CAST(N'2023-10-28T13:58:15.060' AS DateTime), 1)
INSERT [dbo].[DependentsStatusHistory] ([HistoryID], [DependentID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (3, 8, N'Insert', CAST(N'2023-10-28T14:02:08.253' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DependentsStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Image], [FirstName], [LastName], [DOB], [Gender], [Address], [PhoneNumber], [TaxID], [Email], [CountryID], [Status], [CIC]) VALUES (1, NULL, N'Nguyễn Văn', N'An', CAST(N'1990-03-04T00:00:00.000' AS DateTime), 1, N'Hà Nội', N'0123456789', 123456789, N'annv@gmail.com', 1, 1, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [Image], [FirstName], [LastName], [DOB], [Gender], [Address], [PhoneNumber], [TaxID], [Email], [CountryID], [Status], [CIC]) VALUES (2, NULL, N'Lê Thị', N'Lan', CAST(N'1992-05-12T00:00:00.000' AS DateTime), 0, N'Hải Phòng', N'0987654321', 987654321, N'lanlt@gmail.com', 1, 1, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [Image], [FirstName], [LastName], [DOB], [Gender], [Address], [PhoneNumber], [TaxID], [Email], [CountryID], [Status], [CIC]) VALUES (3, NULL, N'Trần Thị', N'Mai', CAST(N'1995-07-08T00:00:00.000' AS DateTime), 0, N'TP Hồ Chí Minh', N'0246810121', 246810121, N'maitt@gmail.com', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeesStatusHistory] ON 

INSERT [dbo].[EmployeesStatusHistory] ([HistoryID], [EmployeeID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (1, 11, N'Create', CAST(N'2023-10-31T03:04:50.033' AS DateTime), NULL)
INSERT [dbo].[EmployeesStatusHistory] ([HistoryID], [EmployeeID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (2, 1, N'Change Status', CAST(N'2023-11-01T23:44:18.410' AS DateTime), NULL)
INSERT [dbo].[EmployeesStatusHistory] ([HistoryID], [EmployeeID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (3, 1, N'Change Status', CAST(N'2023-11-01T23:46:13.773' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[EmployeesStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeTeams] ON 

INSERT [dbo].[EmployeeTeams] ([EmployeeTeamID], [EmployeeId], [TeamID], [StartDate], [EndDate]) VALUES (150, 7, 9, CAST(N'2023-10-30T20:03:42.590' AS DateTime), CAST(N'2023-10-31T08:02:24.307' AS DateTime))
INSERT [dbo].[EmployeeTeams] ([EmployeeTeamID], [EmployeeId], [TeamID], [StartDate], [EndDate]) VALUES (151, 2, 9, CAST(N'2023-10-30T20:03:42.590' AS DateTime), NULL)
INSERT [dbo].[EmployeeTeams] ([EmployeeTeamID], [EmployeeId], [TeamID], [StartDate], [EndDate]) VALUES (158, 1, 9, CAST(N'2023-10-31T08:02:24.763' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[EmployeeTeams] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryChangeShiftType] ON 

INSERT [dbo].[HistoryChangeShiftType] ([HistoryID], [Action], [ActionDate], [CurrentEmployeeID], [ShiftTypeID]) VALUES (1, N'Create', CAST(N'2023-10-27T15:20:02.500' AS DateTime), NULL, 2)
INSERT [dbo].[HistoryChangeShiftType] ([HistoryID], [Action], [ActionDate], [CurrentEmployeeID], [ShiftTypeID]) VALUES (2, N'Update', CAST(N'2023-10-27T16:29:04.593' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[HistoryChangeShiftType] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryChangeTeams] ON 

INSERT [dbo].[HistoryChangeTeams] ([HistoryID], [TeamID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (8, 9, N'Create', CAST(N'2023-10-30T20:03:42.590' AS DateTime), NULL)
INSERT [dbo].[HistoryChangeTeams] ([HistoryID], [TeamID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (9, 9, N'Add new member', CAST(N'2023-10-31T09:18:22.877' AS DateTime), NULL)
INSERT [dbo].[HistoryChangeTeams] ([HistoryID], [TeamID], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (10, 9, N'Add new member', CAST(N'2023-10-31T09:19:05.360' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HistoryChangeTeams] OFF
GO
SET IDENTITY_INSERT [dbo].[HoursWorkDays] ON 

INSERT [dbo].[HoursWorkDays] ([HourWorkDayId], [Hour], [Day], [EmployeeId]) VALUES (1, 0.15, CAST(N'2023-11-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[HoursWorkDays] ([HourWorkDayId], [Hour], [Day], [EmployeeId]) VALUES (3, 0, CAST(N'2023-11-02T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[HoursWorkDays] ([HourWorkDayId], [Hour], [Day], [EmployeeId]) VALUES (7, 1.033333, CAST(N'2023-11-02T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[HoursWorkDays] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([PageID], [PageName], [Status], [PageNameVN]) VALUES (1, N'Home', 1, N'Trang chủ')
INSERT [dbo].[Pages] ([PageID], [PageName], [Status], [PageNameVN]) VALUES (2, N'trang thong ke', 1, N'Trang thống kê')
INSERT [dbo].[Pages] ([PageID], [PageName], [Status], [PageNameVN]) VALUES (3, N'ListEmployee', NULL, N'Danh sách nhân viên')
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
INSERT [dbo].[RolePages] ([PageID], [RoleID]) VALUES (1, 8)
INSERT [dbo].[RolePages] ([PageID], [RoleID]) VALUES (2, 8)
INSERT [dbo].[RolePages] ([PageID], [RoleID]) VALUES (3, 8)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleLevel], [RoleName], [Status]) VALUES (1, NULL, N'Nhân viên', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleLevel], [RoleName], [Status]) VALUES (2, NULL, N'Quản lý', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleLevel], [RoleName], [Status]) VALUES (3, NULL, N'Giám đốc', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesEmployees] ON 

INSERT [dbo].[RolesEmployees] ([RoleEmployeeID], [EmployeeID], [RoleID], [DepartmentID], [StartDate], [EndDate], [Status]) VALUES (1, 1, 6, 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[RolesEmployees] ([RoleEmployeeID], [EmployeeID], [RoleID], [DepartmentID], [StartDate], [EndDate], [Status]) VALUES (2, 2, 7, 2, CAST(N'2021-04-15T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[RolesEmployees] ([RoleEmployeeID], [EmployeeID], [RoleID], [DepartmentID], [StartDate], [EndDate], [Status]) VALUES (3, 3, 1, 3, CAST(N'2022-07-01T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[RolesEmployees] OFF
GO
SET IDENTITY_INSERT [dbo].[ShiftType] ON 

INSERT [dbo].[ShiftType] ([ShiftTypeID], [TypeName], [Status], [StartTime], [EndTime]) VALUES (1, N'Ca sáng', 1, CAST(N'00:00:30' AS Time), CAST(N'23:00:00' AS Time))
INSERT [dbo].[ShiftType] ([ShiftTypeID], [TypeName], [Status], [StartTime], [EndTime]) VALUES (2, N'Ca tối', 1, CAST(N'18:00:00' AS Time), CAST(N'00:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[ShiftType] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([TeamID], [TeamName], [TeamLeaderId], [Note], [TeamSubLeaderID]) VALUES (9, N'Bóc gỗ', 1, NULL, 2)
INSERT [dbo].[Teams] ([TeamID], [TeamName], [TeamLeaderId], [Note], [TeamSubLeaderID]) VALUES (10, N'Gỗ ép', 7, NULL, 4)
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
INSERT [dbo].[TeamWork] ([TeamID], [WorkId]) VALUES (9, 2)
GO
SET IDENTITY_INSERT [dbo].[UnitCost] ON 

INSERT [dbo].[UnitCost] ([UniCostId], [UnitName], [Cost], [Status]) VALUES (1, N'Giá gỗ ép', 100, 1)
INSERT [dbo].[UnitCost] ([UniCostId], [UnitName], [Cost], [Status]) VALUES (2, N'Giá gỗ tấm', 2000, 1)
SET IDENTITY_INSERT [dbo].[UnitCost] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitCostStatusHistory] ON 

INSERT [dbo].[UnitCostStatusHistory] ([HistoryID], [UniCostId], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (1, 2, N'Create', CAST(N'2023-10-27T01:11:35.053' AS DateTime), NULL)
INSERT [dbo].[UnitCostStatusHistory] ([HistoryID], [UniCostId], [Action], [ActionDate], [CurrentEmployeeID]) VALUES (2, 2, N'Update', CAST(N'2023-10-27T01:11:50.930' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UnitCostStatusHistory] OFF
GO
INSERT [dbo].[UserAccounts] ([EmployeeID], [UserName], [Password], [Status]) VALUES (1, N'anv', N'$2a$11$wydh.dj8x5OjQPLxn9dD4uXhRyUuMHtNPpTpO5DGLqwUuY0p4n6wW', 1)
INSERT [dbo].[UserAccounts] ([EmployeeID], [UserName], [Password], [Status]) VALUES (2, N'lanlt', N'123456', 1)
INSERT [dbo].[UserAccounts] ([EmployeeID], [UserName], [Password], [Status]) VALUES (3, N'maitt', N'123456', 1)
GO
SET IDENTITY_INSERT [dbo].[Work] ON 

INSERT [dbo].[Work] ([WorkId], [WorkName], [ProductPackage], [UniCostId], [Date], [WorkAreaId]) VALUES (2, N'Làm gỗ ép', 10, 1, CAST(N'2012-01-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Work] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkAreas] ON 

INSERT [dbo].[WorkAreas] ([WorkAreaId], [WorkAreaName], [Status]) VALUES (1, N'Phân Khu A', 1)
SET IDENTITY_INSERT [dbo].[WorkAreas] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkSchedule] ON 

INSERT [dbo].[WorkSchedule] ([WorkScheduleID], [ShiftTypeID], [TeamID], [Status]) VALUES (3, 1, 9, 1)
SET IDENTITY_INSERT [dbo].[WorkSchedule] OFF
GO
ALTER TABLE [dbo].[CheckInOut]  WITH CHECK ADD  CONSTRAINT [FK_CheckInOut_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckInOut] CHECK CONSTRAINT [FK_CheckInOut_Employees]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK__Contracts__Emplo__2645B050] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK__Contracts__Emplo__2645B050]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_ContractType] FOREIGN KEY([ContractTypeID])
REFERENCES [dbo].[ContractType] ([ContractTypeID])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_ContractType]
GO
ALTER TABLE [dbo].[ContractsStatusHistory]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ContractID])
GO
ALTER TABLE [dbo].[ContractTypeStatusHistory]  WITH CHECK ADD FOREIGN KEY([ContractTypeID])
REFERENCES [dbo].[ContractType] ([ContractTypeID])
GO
ALTER TABLE [dbo].[DegreesStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK__DegreesSt__Degre__2A164134] FOREIGN KEY([DegreeID])
REFERENCES [dbo].[Degrees] ([DegreeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DegreesStatusHistory] CHECK CONSTRAINT [FK__DegreesSt__Degre__2A164134]
GO
ALTER TABLE [dbo].[DepartmentsStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK__Departmen__Depar__2B0A656D] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentsStatusHistory] CHECK CONSTRAINT [FK__Departmen__Depar__2B0A656D]
GO
ALTER TABLE [dbo].[Dependents]  WITH CHECK ADD  CONSTRAINT [FK__Dependent__Emplo__2BFE89A6] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dependents] CHECK CONSTRAINT [FK__Dependent__Emplo__2BFE89A6]
GO
ALTER TABLE [dbo].[Dependents]  WITH CHECK ADD  CONSTRAINT [FK_Dependents_TypeDependents] FOREIGN KEY([TypeDependentID])
REFERENCES [dbo].[TypeDependents] ([TypeDependentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dependents] CHECK CONSTRAINT [FK_Dependents_TypeDependents]
GO
ALTER TABLE [dbo].[DependentsStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK__Dependent__Depen__2DE6D218] FOREIGN KEY([DependentID])
REFERENCES [dbo].[Dependents] ([DependentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DependentsStatusHistory] CHECK CONSTRAINT [FK__Dependent__Depen__2DE6D218]
GO
ALTER TABLE [dbo].[EmployeeDegrees]  WITH CHECK ADD  CONSTRAINT [FK__EmployeeD__Degre__2EDAF651] FOREIGN KEY([DegreeID])
REFERENCES [dbo].[Degrees] ([DegreeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeDegrees] CHECK CONSTRAINT [FK__EmployeeD__Degre__2EDAF651]
GO
ALTER TABLE [dbo].[EmployeeDegrees]  WITH CHECK ADD  CONSTRAINT [FK__EmployeeD__Emplo__2FCF1A8A] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeDegrees] CHECK CONSTRAINT [FK__EmployeeD__Emplo__2FCF1A8A]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Count__30C33EC3] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__Count__30C33EC3]
GO
ALTER TABLE [dbo].[EmployeesStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Emplo__32AB8735] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeesStatusHistory] CHECK CONSTRAINT [FK__Employees__Emplo__32AB8735]
GO
ALTER TABLE [dbo].[EmployeeTeams]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTeams_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeTeams] CHECK CONSTRAINT [FK_EmployeeTeams_Employees]
GO
ALTER TABLE [dbo].[EmployeeTeams]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTeams_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeTeams] CHECK CONSTRAINT [FK_EmployeeTeams_Teams]
GO
ALTER TABLE [dbo].[HistoryChangeCheckInOut]  WITH CHECK ADD  CONSTRAINT [FK_HistoryChangeTimeTracking_CheckInOut] FOREIGN KEY([CheckInOutId])
REFERENCES [dbo].[CheckInOut] ([CheckInOutId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryChangeCheckInOut] CHECK CONSTRAINT [FK_HistoryChangeTimeTracking_CheckInOut]
GO
ALTER TABLE [dbo].[HistoryChangeShiftType]  WITH CHECK ADD  CONSTRAINT [FK_HistoryChangeShiftType_ShiftType] FOREIGN KEY([ShiftTypeID])
REFERENCES [dbo].[ShiftType] ([ShiftTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryChangeShiftType] CHECK CONSTRAINT [FK_HistoryChangeShiftType_ShiftType]
GO
ALTER TABLE [dbo].[HistoryChangeTeams]  WITH CHECK ADD  CONSTRAINT [FK_HistoryChangeTeams_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryChangeTeams] CHECK CONSTRAINT [FK_HistoryChangeTeams_Teams]
GO
ALTER TABLE [dbo].[PageStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_PageStatusHistory_Pages] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([PageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PageStatusHistory] CHECK CONSTRAINT [FK_PageStatusHistory_Pages]
GO
ALTER TABLE [dbo].[RolePages]  WITH CHECK ADD  CONSTRAINT [FK_RolePages_Pages] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([PageID])
GO
ALTER TABLE [dbo].[RolePages] CHECK CONSTRAINT [FK_RolePages_Pages]
GO
ALTER TABLE [dbo].[RolePages]  WITH CHECK ADD  CONSTRAINT [FK_RolePages_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePages] CHECK CONSTRAINT [FK_RolePages_Roles]
GO
ALTER TABLE [dbo].[RolesEmployees]  WITH CHECK ADD  CONSTRAINT [FK__RolesEmpl__Depar__3B40CD36] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesEmployees] CHECK CONSTRAINT [FK__RolesEmpl__Depar__3B40CD36]
GO
ALTER TABLE [dbo].[RolesEmployees]  WITH CHECK ADD  CONSTRAINT [FK__RolesEmpl__Emplo__3C34F16F] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesEmployees] CHECK CONSTRAINT [FK__RolesEmpl__Emplo__3C34F16F]
GO
ALTER TABLE [dbo].[RolesEmployees]  WITH CHECK ADD  CONSTRAINT [FK__RolesEmpl__RoleI__10566F31] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RolesEmployees] CHECK CONSTRAINT [FK__RolesEmpl__RoleI__10566F31]
GO
ALTER TABLE [dbo].[RolesStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK__RolesStat__RoleI__114A936A] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesStatusHistory] CHECK CONSTRAINT [FK__RolesStat__RoleI__114A936A]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Employees] FOREIGN KEY([EmloyeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_Employees]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_SalaryDetail] FOREIGN KEY([SalaryDetailId])
REFERENCES [dbo].[SalaryDetail] ([SalaryDetailId])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_SalaryDetail]
GO
ALTER TABLE [dbo].[SalaryDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalaryDetail_SalaryType] FOREIGN KEY([SalaryITyped])
REFERENCES [dbo].[SalaryType] ([SalaryITyped])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalaryDetail] CHECK CONSTRAINT [FK_SalaryDetail_SalaryType]
GO
ALTER TABLE [dbo].[TeamWork]  WITH CHECK ADD  CONSTRAINT [FK_TeamWork_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamWork] CHECK CONSTRAINT [FK_TeamWork_Teams]
GO
ALTER TABLE [dbo].[TeamWork]  WITH CHECK ADD  CONSTRAINT [FK_TeamWork_Work] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Work] ([WorkId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamWork] CHECK CONSTRAINT [FK_TeamWork_Work]
GO
ALTER TABLE [dbo].[UnitCostStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_UnitCostStatusHistory_UnitCost] FOREIGN KEY([UniCostId])
REFERENCES [dbo].[UnitCost] ([UniCostId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitCostStatusHistory] CHECK CONSTRAINT [FK_UnitCostStatusHistory_UnitCost]
GO
ALTER TABLE [dbo].[UserAccounts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[UserAccountsStatusHistory]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[UserAccounts] ([EmployeeID])
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_UnitCost] FOREIGN KEY([UniCostId])
REFERENCES [dbo].[UnitCost] ([UniCostId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_UnitCost]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_WorkAreas] FOREIGN KEY([WorkAreaId])
REFERENCES [dbo].[WorkAreas] ([WorkAreaId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_WorkAreas]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_ShiftType] FOREIGN KEY([ShiftTypeID])
REFERENCES [dbo].[ShiftType] ([ShiftTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_ShiftType]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Teams]
GO
ALTER TABLE [dbo].[WorkScheduleStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_WorkScheduleStatusHistory_WorkSchedule] FOREIGN KEY([WorkScheduleID])
REFERENCES [dbo].[WorkSchedule] ([WorkScheduleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkScheduleStatusHistory] CHECK CONSTRAINT [FK_WorkScheduleStatusHistory_WorkSchedule]
GO
USE [master]
GO
