@media (min-width: 768px) and (max-width: 1536px) {
  .list-table-calendar {
    width: 100%
  }
  .list-table-calendar .body-calendar tbody tr td svg {
    width: 23px;
    height: 23px;
  }
  .list-table-calendar .body-calendar tbody tr td:nth-child(1) {
    flex-basis: 242px;
    padding: 17px 0px;
  }
  .ListWork svg {
    width: 25px;
    height: 25px;
  }
  .modal-detail-all .head-modal p,
  .head-title p {
    font-size: 30px !important;
  }
  .modal-detail-all .head-modal {
    svg {
      width: 25px;
      height: 25px;
    }
    padding: 23px 40px;
  }
  .modal-detail-all .body-modal .item-modal p {
    font-size: 18px !important;
  }
  .item-modal .ant-select .ant-select-selector {
    font-size: 18px !important;
  }
  .item-modal .ant-select .ant-select-selector .ant-select-selection-search {
    input {
      font-size: 18px !important;
    }
  }
  .modal-detail-all {
    width: 600px !important;
  }
  .footer-modal {
    padding: unset !important;
    .back,
    .save {
      justify-content: center !important;
      font-size: 18px !important;
      width: 165px;
      padding: 12px 0px 16px 0px;
    }
  }
  .modal-group {
    padding: unset !important;
  }
  .head-modal .close {
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .group-all .time,
  .group-all .shift .shift-detail p,
  .group-all .table .table-child .head .item p,
  .body p {
    font-size: 18px !important;
  }
  .head-modal {
    padding: 33px 30px;
  }
  .group-all {
    padding: 30px 35px;
  }
  .body-all {
    max-height: 298px !important;
  }
  .group-all .table .table-child {
    padding: 20px 0 !important;
    gap: 10px !important;
  }
  .group-all .shift .shift-detail .box {
    padding: 10px 24px !important;
  }
  .list-table-calendar thead tr td {
    font-size: 18px !important;
  }
  .modal-listShift .head-listShift .text-head p {
    font-size: 30px !important;
  }
  .modal-listShift .head-listShift svg {
    width: 25px;
    height: 25px;
  }
  .modal-listShift .head-listShift {
    padding: 33px 30px;
  }
  .modal-listShift .body-listShift .list-table-all .list-table thead p,
  .modal-listShift .body-listShift .list-table-all .list-table tbody tr p {
    font-size: 18px !important;
  }
  .modal-listShift .body-listShift {
    padding: 20px 35px;
  }
  .modal-listShift {
    width: 1155px;
    height: 700px;
  }
  .modal-listShift .body-listShift .list-table-all .list-table tbody tr .item2 {
    padding: 10px 14px;
  }
  .modal-listShift .body-listShift .list-table-all .list-table thead {
    padding: 0px 33px;
  }
  .modal-listShift .body-listShift .list-table-all .list-table tbody {
    max-height: 450px !important;
  }
  .modal-listShift .body-listShift .list-table-all .list-table tbody tr {
    padding: 8px 20px;
  }
  .modal-listShift .head-listShift {
    padding: 0 30px;
  }
  .item-modal Input {
    font-size: 18px !important;
  }
}
