// Tablet
@media (min-width: 768px) and (max-width: 1536px) {
  .name-person-dependent h3 {
    font-size: 25px !important;
  }
  .name-person-dependent {
    width: 100% !important;
  }
  .table-info-detail tr .text,
  .table-info-detail tr .input-text {
    font-size: 18px !important;
  }
  .modal-dependent-all {
    position: relative;
  }
  .modal-dependent .modal-group{
    width: 100% !important
  }
  .dependent-container-modal-edit .ant-modal-content {
    right: -378px !important;
    top: -106px !important;
  }

  .dependent-container-modal-edit .modal-head{
    height: 88px !important;
  }
  .dependent-container-modal-edit .modal-head h3{
    padding-top: 25px;
  }

  .dependent-container-modal-all .ant-modal-content {
    right: -378px !important;
    top: -106px !important;
  }

  .info-detail-dependent {
    width: 700px;
  }
  .table-info-detail tr .text,
  .table-info-detail tr .input-text select {
    font-size: 18px !important;
  }

  .department-scroll{
    max-height: 322px;
  }
}
