// Tablet
@media (min-width: 768px) and (max-width: 1536px) {
  .modal-role-all {
    position: relative;
  }
  .modal-detail-role {
    position: absolute !important;
    right: 600px;
    top: 100px;
  }
  .role-container-modal .modal-group {
    width: 800px !important;
  }
  .box1-modal-group .box2-child {
    width: unset !important;
  }
  .box1-modal-group {
    gap: 20px !important;
  }
  .modal-add-group .modal-footer-deparment {
    padding-bottom: 20px !important;
  }
}
